.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;

	& * { max-width: 100%; }
}

input,
select,
textarea,
button {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	margin-bottom: 10px;
	font-size: 16px;
	border: 1px solid #04A0DD;
	background: none;
	color: #666;
}

textarea { height: 200px; }

input[type=submit] {
	background: #04A0DD;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.error { border: 1px solid #A30000; }
.success { border: 1px solid #00BD00; }

.result {
	font-size: 14px;
	color: #580058;
	font-style: italic;
}

.valid {
	background: rgba(#00BD00, .2);
	border: 1px solid #00BD00;
}